<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Audit {{ projectName }} {{date dateFrom }} - {{date dateTo }}</title>
  </head>
  <body>

  <div class="card" style="width: 18rem;">
      <div class="card-body">
          <h5 class="card-title">{{ projectName }}</h5>
          <p class="card-text">{{date dateFrom }} - {{date dateTo }}</p>
      </div>
  </div>

  <table class="table">
      <thead>
      <tr>
          <th scope="col">Дата</th>
          {{#if_eq type 'photo' }}
              <th scope="col">Фото</th>
              <th scope="col">Видео</th>
              <th scope="col">Панорамы</th>
          {{/if_eq}}

          {{#if_eq type 'aerial' }}
              <th scope="col">Аэросъемка</th>
          {{/if_eq}}
          <th scope="col">Итого</th>
      </tr>
      </thead>

      <tbody>
      {{#each rows}}
          <tr>
              <th scope="row">{{date date }}</th>
              {{#if_eq ../type 'photo' }}
                  <td scope="col"><a href="/audit/{{ ../../objects }}/content/image/{{ ../date }}">{{ ../images }}</td>
                  <td scope="col"><a href="/audit/{{ ../../objects }}/content/video/{{ ../date }}">{{ ../videos }}</td>
                  <td scope="col"><a href="/audit/{{ ../../objects }}/content/panorama/{{ ../date }}">{{ ../panoramas }}</td>
              {{/if_eq}}

              {{#if_eq ../type 'aerial' }}
                  <td scope="col"><a href="/audit/{{ ../../objects }}/content/aerial/{{ ../date }}">{{ ../aerials }}</td>
              {{/if_eq}}

              <td scope="col">{{ total }}</td>
          </tr>
      {{/each}}
      </tbody>

      <tr>
          <th scope="col">-</th>
          {{#if_eq type 'photo' }}
              <th scope="col">{{ ../total.images }}</th>
              <th scope="col">{{ ../total.videos }}</th>
              <th scope="col">{{ ../total.panoramas }}</th>
          {{/if_eq}}

          {{#if_eq type 'aerial' }}
              <th scope="col">{{ ../total.aerials }}</th>
          {{/if_eq}}
          <th scope="col">{{ total.total }}</th>
      </tr>
  </table>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
